@using BlogoBlog.App.l10n;
@model BlogoBlog.App.Models.Login.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div style="justify-content: center">
    @using (Html.BeginForm())
    {
        <div style="width: auto">
            <div>
                @Html.LabelFor(x => x.Login)
            </div>
            @Html.EditorFor(x => x.Login)
        </div>
        <div style="width: auto">
            <div>
                @Html.LabelFor(x => x.Password)
            </div>
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { type="password" } })
        </div>
        <div style="margin-top: 10px">
            <input type="submit" value="@Translation.Login" class="btn btn-info" />
        </div>
    }
</div>
